{% extends "base.html" %}
{% set active_page = "members" %}
{% set sub_active_page = entry_mode %}
{% block title %}Members{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/select2.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-datepicker/css/bootstrap-datepicker.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/jasny-bootstrap/css/jasny-bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/dropzone/dropzone.min.css') }}">
<style type="text/css">
	.box-header-table { font-size: 14px; }
	ul.nav-tabs { margin-left: 0px !important; margin-right: 0px !important; }
	img.member-avatar {
		max-width: 130px;
		max-height: 120px;
	}
	div.fileinput-exists > img {
		max-width: 200px;
		max-height: 190px;
	}
</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="box col-md-12">
		<div class="box-inner">
			<div class="box-header well">
				<h2><i class="glyphicon glyphicon-user"></i> {{ entry_mode|capitalize }} Member</h2>
				{% if entry_mode == 'edit' %}
				<a class="btn btn-success btn-xs" href="javascript:;" id="gbt_modify_entry" style="float:right;"><i class="glyphicon glyphicon-pencil"></i> Modify</a>
                {% endif %}
			</div>
			<div class="box-content row">
				<div class="col-md-12">
					<form role="form" id="form_member_info" method="post" action="{{ url_for('.add_edit_post') }}">
						<input type="hidden" name="_id" value="{{ member['_id'] }}">

						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-info">
								<div class="panel-heading" role="tab" id="headingOne">
									<h3 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							          		<i class="glyphicon glyphicon-star"></i> Primary Info
								        </a>
									</h3>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<div class="form-group">
											<label for="lastname">Photo</label>
											&nbsp;
											<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mdl_upload"><i class="glyphicon glyphicon-pencil"></i> Change</button>
											<br>
											<img src="{{ url_for('static', filename='img/default_avatar.jpg') }}" alt="Sample Avatar" class="img-thumbnail member-avatar" />
										</div>
										<div class="form-group">
											<label for="lastname">Last Name</label>
											<input type="text" class="form-control" name="lastname" required minlength="2" value="{{ member['lastname'] }}" placeholder="Ex: Dela Cruz">
										</div>
										<div class="form-group">
											<label for="firstname">First Name</label>
											<input type="text" class="form-control" name="firstname" required minlength="2" value="{{ member['firstname'] }}" placeholder="Ex: Pedro">
										</div>
										<div class="form-group">
											<label for="middlename">Middle Name</label>
											<input type="text" class="form-control" name="middlename" value="{{ member['middlename'] }}" placeholder="Ex: Protacio">
										</div>
										<div class="form-group">
				                            <label for="birthdate">Birth Date</label>
				                            <div class="input-group date">
				                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				                                <input type="text" class="form-control" name="birthdate" id="txt_birthdate" placeholder="mm/dd/yyyy" required value="{{ member['birthdate'] }}" data-mask="99/99/9999">
				                            </div>
										</div>
										<div class="form-group">
									  		<label for="gender">Gender</label>
											<select class="form-control wo-search" name="gender" required>
												<option value="">- Select -</option>
												<option value="M" {{ 'selected' if member['gender'] == 'M' }}>Male</option>
												<option value="F" {{ 'selected' if member['gender'] == 'F' }}>Female</option>
										  	</select>
										</div>
										<div class="form-group">
											<label for="email">Email Address</label>
											<input type="email" class="form-control" name="email" value="{{ member['email'] }}" placeholder="Ex: pdelacruz@yahoo.com">
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-info">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h3 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<i class="glyphicon glyphicon-plus"></i> Church Profile
								        </a>
									</h3>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										<div class="form-group">
									  		<label for="gender">Ministries</label>
											<input type="text" class="form-control" name="ministries" value="">
										</div>
										<div class="form-group">
									  		<label for="gender">Classification</label>
											<!-- <input type="text" class="form-control" name="classification" value="{{ member['classification'] }}"> -->
											<select class="form-control wo-search" name="classification" required="">
												<option value="">- Select -</option>
												<option value="1">Member</option>
												<option value="2">Cell Leader</option>
											</select>
										</div>
										<div class="form-group">
											<label for="cell_leader_id">Cell Leader</label>
											<!-- <input type="text" class="form-control" name="cell_leader_id" value="{{ member['cell_leader_id'] }}"> -->
											<select class="form-control w-search" name="cell_leader_id">
												<option value="">- Select -</option>
												<option value="1">Leader 1</option>
												<option value="2">Leader 2</option>
												<option value="3">Leader 3</option>
												{#
												{% for cleader in cleaders: %}
												<option value="{{ asset['_id'] }}" data-duration="{{ asset['duration'] }}" data-type="{{ asset['content_type'] }}" data-thumb="{{ asset['source'] }}">{{ asset['title'] }} ({{ asset['content_type'] }})</option>
												{% endfor %}
												#}
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-info">
								<div class="panel-heading" role="tab" id="headingThree">
									<h3 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											<i class="glyphicon glyphicon-cog"></i> User Account
								        </a>
									</h3>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="panel-body">
										<div class="form-group">
											<label for="username">Username</label>
											{% if entry_mode == 'add' %}
												<input type="text" class="form-control" name="username" required placeholder="Ex: pdelacruz">
											{% else %}
												<div class="panel panel-default">
													<div class="panel-heading">{{ user_acct['username'] }}</div>
												</div>
											{% endif %}
										</div>
										{% if entry_mode == 'edit' %}
										<div class="form-group" style="display: none;" id="div_new_pwd">
											<label for="username">New Password</label>
											<div class="panel panel-default">
												<div class="panel-heading"></div>
											</div>
										</div>
										<div class="form-group">
											<button type="button" class="btn btn-danger" id="bt_generate_pwd"><i class="glyphicon glyphicon-refresh"></i> Generate New Password</button>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>


						{% if entry_mode == 'add' %}
						<hr>
                        <div class="form-group">
							<label><input type="checkbox" id="cbx_add_another" data-toggle="toggle"> &nbsp; Create another entry after this one</label>
						</div>
						{% endif %}
						<div class="text-left page_buttons {% if entry_mode == 'edit' %}hide{% endif %}">
							<hr>
							<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Submit</button>
							<button type="button" class="btn btn-default" id="bt_cancel">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="mdl_upload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- <form action="{{ url_for('.upload_image') }}" method="post" enctype="multipart/form-data" id="frm_upload"> -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Upload Profile Picture</h4>
				</div>
				<div class="modal-body">
					<!-- <div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 250px; max-height: 240px;"></div>
						<div>
							<span class="btn btn-success btn-file">
								<span class="fileinput-new"><span class="glyphicon glyphicon-picture"></span> Select an image</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="avatar" accept="image/jpg,image/png,image/jpeg,image/gif" required>
							</span>
					    	<a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput" id="bt_removeFile">Remove</a>
						</div>
					</div> -->
					<div class="container-fluid">
						<div>
							<form action="{{ url_for('.upload_image') }}" class="dropzone" id="frm_upload"></form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<!-- <button type="submit" class="btn btn-primary hide"><span class="glyphicon glyphicon-upload"></span> Upload</button> -->
				</div>
			<!-- </form> -->
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}
<script src="{{ url_for('static', filename='plugins/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jasny-bootstrap/js/jasny-bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/dropzone/dropzone.min.js') }}"></script>
<script>
$(function() {
    var $form = $('#form_member_info');
	// var $frm_upload = $('#frm_upload');

	$('select.w-search').select2();
	$('select.wo-search').select2({ minimumResultsForSearch: Infinity });
	$('#txt_birthdate').datepicker({
		todayBtn: "linked",
		autoclose: true,
		todayHighlight: true
	});


	//- SUBMIT
    $form.validate({
		ignore: 'input[type=hidden], .ignore',
		errorPlacement: function(error, element) {
            error.appendTo( element.parents('div.form-group') );
        },
        onkeyup: false,
        rules: {
			username: {
				minlength: 5
			}
        },
		invalidHandler: function(event, validator) {
            var errors = validator.numberOfInvalids();
            if (errors) {
                toastr["error"]('This tab or the other tabs still needs your attention.', 'Invalid entries found.');
            }
        },
        submitHandler: function(form) {
            var serialized = $form.serialize();
            toggle_loader(true);
            $.post($form.attr('action'), serialized, function(data) {
                if(data.status == 'ok') {
                    toastr['success']("Save Successful!");

                    {% if entry_mode == 'add' %}
                    if ($('#cbx_add_another').is(":checked")) {
                        $form.find('input').val('');  //- clear the fields for another creation of entry
						$('a[href="#primary"]').click();
						showAlert("Member password is:", data.new_pwd, function() {
							setFocus();
						});
                    }
                    else {
						showAlert("Member password is:", data.new_pwd, function() {
							var edit_url = "{{ url_for('.add_edit', member_id='member_id_val') }}".replace('member_id_val', data.member_id);
							window.location = edit_url;
						});
                    }
                    {% endif %}
                }
                else {
					toastr['error'](data.message, "Saving failed.");
                }
            })
            .always(function() {
                toggle_loader(false);
                // setFocus();
                return false;
            });
        }
    });


	{% if entry_mode == 'add' %}
		$('#bt_cancel').click(function(event) {
			window.location = "{{ url_for('.index') }}";
		});
	{% else %} //- {# edit #}
		//- set all fields readonly
		disable_fields(true);
		//- toggle readonly attribute to fields
		$('a#gbt_modify_entry').click(function(event) {
			$(this).addClass('hide');
			$('div.page_buttons').removeClass('hide');
			disable_fields(false);
			// setFocus();
			$('html, body').animate({
			   scrollTop: $('label[for="lastname"]').offset().top
		   	}, 'fast');
		});
		$('#bt_cancel').click(function(event) {
			$('a#gbt_modify_entry').removeClass('hide');
			$('div.page_buttons').addClass('hide');
			disable_fields(true);
		});

		$('#bt_generate_pwd').click(function(event) {
			showConfirm('Are you sure?', 'This will overwrite the password of the member.', function() {
				toggle_loader(true);
				var jqxhr = $.post( "{{ url_for('.password_reset') }}", {id: "{{ user_acct['userid'] }}"}, function(data) {
						if(data.status == 'ok') {
		                    toastr['success']("Password has been updated!");
							$('#div_new_pwd').show().find('div.panel-heading').html(data.new_pwd);
		                }
		                else {
							toastr['error'](data.message, "Process failed.");
		                }
					})
					.fail(function() {
						toastr['error']("Please try again later.", "Process failed.");
					})
					.always(function() {
						toggle_loader(false);
					});
			});
		});


		//- photo upload
		// $('#mdl_upload').on('shown.bs.modal', function (e) {
		// 	$frm_upload.find('button[type="submit"]').addClass('hide');
		// });
		// $('#mdl_upload').on('hidden.bs.modal', function (e) {
		// 	$('#bt_removeFile').click();
		// });
		// $('input[name="avatar"]').on('change.bs.fileinput', function(data) {
		// 	toggle_submit_upload($(this).val());
		//  	});
		// $frm_upload.submit(function(event) {
		// 	event.preventDefault();
		// 	ajax_post_file($frm_upload, 'Photo successfully updated.', function(data) {
		// 		$('#mdl_upload').modal('hide');
		// 	}, function() {});
		// });

		//- photo upload
		$('#frm_upload').dropzone({
			// url: "/upload",
			maxFilesize: 5,
			paramName: "avatar",
			maxThumbnailFilesize: 5,
			// acceptedFiles: 'image/jpg,image/jpeg,image/png,image/png',
			init: function() {
				this.on('success', function(file, json) {
				});
				this.on('addedfile', function(file) {

				});
				this.on('drop', function(file) {
					alert('file');
				});
			}
		});

		Dropzone.options.frmUpload = {
		    init: function() {
		      this.on("addedfile", function(file) {

		        // Create the remove button
		        var removeButton = Dropzone.createElement("<button>Remove file</button>");

		        // Capture the Dropzone instance as closure.
		        var _this = this;

		        // Listen to the click event
		        removeButton.addEventListener("click", function(e) {
		          // Make sure the button click doesn't submit the form:
		          e.preventDefault();
		          e.stopPropagation();

		          // Remove the file preview.
		          _this.removeFile(file);
		          // If you want to the delete the file on the server as well,
		          // you can do the AJAX request here.
		        });

		        // Add the button to the file preview element.
		        file.previewElement.appendChild(removeButton);
		      });
		    }
		};
	{% endif %}


	function disable_fields(disabled) {
		$form.find('input, textarea, select').prop('disabled', disabled);
		gotoTop();
	}

	// function toggle_submit_upload(fileinput_val) {
	// 	if (fileinput_val == '')
	// 		$frm_upload.find('button[type="submit"]').addClass('hide');
	// 	else
	// 		$frm_upload.find('button[type="submit"]').removeClass('hide');
	// }

});
</script>
{% endblock %}

{#
TODO
- additional fields; date baptised, spiritual bday, ministries
- photo upload
#}
