{% extends "base.html" %}
{% set active_page = "members" %}
{% set sub_active_page = entry_mode %}
{% block title %}Members{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-datepicker/css/bootstrap-datepicker.css') }}">
<style type="text/css">
	.box-header-table { font-size: 14px; }
	ul.nav-tabs { margin-left: 0px !important; margin-right: 0px !important; }
	img.member-avatar {
		max-width: 130px;
		max-height: 120px;
	}
</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="box col-md-12">
		<div class="box-inner">
			<div class="box-header well">
				<h2><i class="glyphicon glyphicon-user"></i> {{ entry_mode|capitalize }} Member</h2>
				{% if entry_mode == 'edit' %}
				&nbsp;&nbsp;
                <a class="btn btn-success btn-xs" href="javascript:;" id="gbt_modify_entry"><i class="glyphicon glyphicon-pencil"></i> Modify</a>
                {% endif %}
			</div>
			<div class="box-content row">
				<div class="col-md-12">
					<form role="form" id="form_member_info" method="post" action="{{ url_for('.add_edit_post') }}">
						<input type="hidden" name="_id" value="{{ member['_id'] }}">

						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-info">
								<div class="panel-heading" role="tab" id="headingOne">
									<h3 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							          		<i class="glyphicon glyphicon-star"></i> Primary Info
								        </a>
									</h3>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<div class="form-group">
											<label for="lastname">Photo</label>
											<br>
											<img src="{{ url_for('static', filename='img/default_avatar.jpg') }}" alt="Sample Avatar" class="img-thumbnail member-avatar" />
										</div>
										<div class="form-group">
											<label for="lastname">Last Name</label>
											<input type="text" class="form-control" name="lastname" required minlength="2" value="{{ member['lastname'] }}" placeholder="Ex: Dela Cruz">
										</div>
										<div class="form-group">
											<label for="firstname">First Name</label>
											<input type="text" class="form-control" name="firstname" required minlength="2" value="{{ member['firstname'] }}" placeholder="Ex: Pedro">
										</div>
										<div class="form-group">
											<label for="middlename">Middle Name</label>
											<input type="text" class="form-control" name="middlename" value="{{ member['middlename'] }}" placeholder="Ex: Protacio">
										</div>
										<div class="form-group">
				                            <label for="birthdate">Birth Date</label>
				                            <div class="input-group date">
				                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				                                <input type="text" class="form-control" name="birthdate" id="txt_birthdate" placeholder="mm/dd/yyyy" required value="{{ member['birthdate'] }}">
				                            </div>
										</div>
										<div class="form-group">
									  		<label for="gender">Gender</label>
											<select class="form-control" name="gender" required>
												<option value="">- Select -</option>
												<option value="M" {{ 'selected' if member['gender'] == 'M' }}>Male</option>
												<option value="F" {{ 'selected' if member['gender'] == 'F' }}>Female</option>
										  	</select>
										</div>
										<div class="form-group">
											<label for="email">Email Address</label>
											<input type="email" class="form-control" name="email" value="{{ member['email'] }}" placeholder="Ex: pdelacruz@yahoo.com">
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-info">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h3 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<i class="glyphicon glyphicon-plus"></i> Church Profile
								        </a>
									</h3>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										<div class="form-group">
									  		<label for="gender">Classification</label>
											<input type="text" class="form-control" name="classification" value="{{ member['classification'] }}">
										</div>
										<div class="form-group">
											<label for="cell_leader_id">Cell Leader</label>
											<input type="text" class="form-control" name="cell_leader_id" value="{{ member['cell_leader_id'] }}">
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-info">
								<div class="panel-heading" role="tab" id="headingThree">
									<h3 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											<i class="glyphicon glyphicon-cog"></i> User Account
								        </a>
									</h3>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="panel-body">
										<div class="form-group">
											<label for="username">Username</label>
											{% if entry_mode == 'add' %}
												<input type="text" class="form-control" name="username" required placeholder="Ex: pdelacruz">
											{% else %}
												<div class="panel panel-default">
													<div class="panel-heading">{{ user_acct['username'] }}</div>
												</div>
											{% endif %}
										</div>
										{% if entry_mode == 'edit' %}
										<div class="form-group" style="display: none;" id="div_new_pwd">
											<label for="username">New Password</label>
											<div class="panel panel-default">
												<div class="panel-heading"></div>
											</div>
										</div>
										<div class="form-group">
											<button type="button" class="btn btn-danger" id="bt_generate_pwd"><i class="glyphicon glyphicon-refresh"></i> Generate New Password</button>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>


						{% if entry_mode == 'add' %}
						<hr>
                        <div class="form-group">
							<label><input type="checkbox" id="cbx_add_another" data-toggle="toggle"> &nbsp; Create another entry after this one</label>
						</div>
						{% endif %}
						<div class="text-left page_buttons {% if entry_mode == 'edit' %}hide{% endif %}">
							<hr>
							<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Submit</button>
							<button type="button" class="btn btn-default" id="bt_cancel">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='plugins/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script>
$(function() {
    var $form = $('#form_member_info');

	$('#txt_birthdate').datepicker({
		todayBtn: "linked",
		autoclose: true,
		todayHighlight: true
	});

	//- SUBMIT
    $form.validate({
		ignore: 'input[type=hidden], .ignore',
		errorPlacement: function(error, element) {
            error.appendTo( element.parents('div.form-group') );
        },
        onkeyup: false,
        rules: {
			username: {
				minlength: 5
			}
        },
		invalidHandler: function(event, validator) {
            var errors = validator.numberOfInvalids();
            if (errors) {
                toastr["error"]('This tab or the other tabs still needs your attention.', 'Invalid entries found.');
            }
        },
        submitHandler: function(form) {
            var serialized = $form.serialize();
            toggle_loader(true);
            $.post($form.attr('action'), serialized, function(data) {
                if(data.status == 'ok') {
                    toastr['success']("Save Successful!");

                    {% if entry_mode == 'add' %}
                    if ($('#cbx_add_another').is(":checked")) {
                        $form.find('input').val('');  //- clear the fields for another creation of entry
						$('a[href="#primary"]').click();
						showAlert("Member password is:", data.new_pwd, function() {
							setFocus();
						});
                    }
                    else {
						showAlert("Member password is:", data.new_pwd, function() {
							var edit_url = "{{ url_for('.add_edit', member_id='member_id_val') }}".replace('member_id_val', data.member_id);
							window.location = edit_url;
						});
                    }
                    {% endif %}
                }
                else {
					toastr['error'](data.message, "Saving failed.");
                }
            })
            .always(function() {
                toggle_loader(false);
                setFocus();
                return false;
            });
        }
    });


	{% if entry_mode == 'add' %}
		$('#bt_cancel').click(function(event) {
			window.location = "{{ url_for('.index') }}";
		});
	{% else %} //- {# edit #}
		//- set all fields readonly
		disable_fields(true);
		//- toggle readonly attribute to fields
		$('a#gbt_modify_entry').click(function(event) {
			$(this).addClass('hide');
			$('div.page_buttons').removeClass('hide');
			disable_fields(false);
			// setFocus();
			$('html, body').animate({
			   scrollTop: $('input[name="lastname"]').offset().top
		   	}, 'fast');
		});
		$('#bt_cancel').click(function(event) {
			$('a#gbt_modify_entry').removeClass('hide');
			$('div.page_buttons').addClass('hide');
			disable_fields(true);
		});

		$('#bt_generate_pwd').click(function(event) {
			showConfirm('Are you sure?', 'This will overwrite the password of the member.', function() {
				toggle_loader(true);
				var jqxhr = $.post( "{{ url_for('.password_reset') }}", {id: "{{ user_acct['userid'] }}"}, function(data) {
						if(data.status == 'ok') {
		                    toastr['success']("Password has been updated!");
							$('#div_new_pwd').show().find('div.panel-heading').html(data.new_pwd);
		                }
		                else {
							toastr['error'](data.message, "Process failed.");
		                }
					})
					.fail(function() {
						toastr['error']("Please try again later.", "Process failed.");
					})
					.always(function() {
						toggle_loader(false);
					});
			});
		});
	{% endif %}


	function disable_fields(disabled) {
		$form.find('input, textarea, select').prop('disabled', disabled);
		gotoTop();
	}


});
</script>
{% endblock %}

{#
TODO
- additional fields; date baptised, spiritual bday, ministries
- photo upload
-
#}
