DEBUG = True
DB_CONFIG = {
	'host': 'localhost',
	'db': 'skcg12',
	'user': 'root',
	'password': ''
}

import os
_basedir = os.path.abspath(os.path.dirname(__file__))

APP_TITLE = 'G12 SKC'
FAV_ICON = 'favicon.ico'
APP_VERSION = '1.0'
