<!DOCTYPE html>
<html lang="en">
<head>
    {{ JSGlue.include() }}
    <meta charset="utf-8">
    <title>{{ config.APP_TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="G12 SKC by Sambahang Kristiyano sa Canumay">
    <meta name="author" content="Edward Jose">

    <link id="bs-css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-cerulean.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charisma-app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/toastr/toastr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-toggle/bootstrap-toggle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/common_files/utils.css') }}">
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>

    <!-- The fav icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/%s' % config.FAV_ICON) }}">
    <style type="text/css">
        body {
            background: #fff url("{{ url_for('static', filename='img/web_bg.jpg') }}") no-repeat fixed center;
            background-size: cover;
        }
    </style>
</head>

<body>
<div class="ch-container">
    <div class="row">
        <div class="row">
            <div class="col-md-12 center login-header">
                <h2>Welcome to G12 SKC!</h2>
            </div>
        </div>

        <div class="row">
            <div class="well col-md-5 center login-box">
                {% with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages -%}
                        {% for category, message in messages -%}
                        <div class="alert alert-dismissable {% if category == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                        {% endfor -%}
                    {% else -%}
                        <div class="alert alert-info">
                            Please login with your Username and Password.
                        </div>
                    {% endif -%}
                {% endwith -%}

                <form class="form-horizontal" action="{{ url_for('.login_submit') }}" method="post" id="frmLogin">
                    <fieldset>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                        <div class="clearfix"></div><br>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                        <div class="clearfix"></div>

                        <div class="input-prepend">
                            <label class="remember" for="remember"><input type="checkbox" id="remember"> Remember me</label>
                        </div>
                        <div class="clearfix"></div>

                        <p class="center col-md-5">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/charisma.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/toastr/toastr.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/common_files/utils.js') }}?{{ request.app_version }}"></script>
<script>
$(function() {
    $('#frmLogin').submit(function(event) {
        if ($('#remember').prop('checked')) {
            $.cookie('username', $('input[name="username"]').val(), {expires: 15});
        }
        $(this).find('button[type="submit"]').html('Please wait...');
        $(this).find('input').prop('readonly', true);
        $(this).find('button[type="submit"]').prop('disabled', true);
    });
    if (typeof $.cookie('username') !== 'undefined' && $.cookie('username') != '') {
        $('input[name="username"]').val($.cookie('username'));
        $('#remember').prop('checked', true);
        $.cookie('username', '');
    }
});
</script>
</body>
</html>
